* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif; /* Añadir una fuente base */
}

main {
    flex: 1; /* Toma todo el espacio disponible */
    padding: 20px;
}

.header{
    background-color: pink;
}


.header #list-header {
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: right; /* Alinea el texto a la derecha */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos hacia la derecha */
    font-family: "Antic Slab", serif;
}

.header #list-header li {
    margin-left: 20px; /* Añade un espacio entre los elementos */
    margin-top: 10px;
    margin-top: 35px;
}

.header #list-header li:first-child {
    margin-right: auto; /* Empuja el primer elemento hacia la izquierda */
    margin-top: 0px;
}

.header #list-header li a {
    color: black; /* Cambia el color inicial a uno muy distinto */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}


.header #list-header li{
   padding: 20px;
   transition: transform 0.3s ease, color 0.3s ease;
}

.header #list-header li:hover {
    transform: scale(1.1);
}

.header #list-header li a:hover {
    color: white;
}

.header #list-header li img {
    margin: 0;
    padding: 0;
}

footer {
    background-color: pink;
    padding: 10px;
    text-align: center;
    margin-top: 150px;
} 


@font-face {
    font-family: 'PermanentMarker';
    src: url('/static/fonts/PermanentMarker-Regular.ttf') format('truetype');
}