.div-agradecimiento-index{
    display: flex;
}

.agradecimiento-index {
    border: 0.5px solid transparent; /* Grosor del borde reducido */
    padding: 10px; /* Espacio interno reducido */
    width: 50%; /* Ancho reducido */
    font-size: 14px; /* Tamaño del texto reducido */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho y alto */
}


.agradecimiento-index h2{
    font-family: 'Times New Roman', Times, serif;
}
.agradecimiento-index p{
    text-align: justify;
}

.div-agradecimiento-index-img img{
    width: 600px;
}
.div-agradecimiento-index-img{
    padding-left: none;
}
