{% load static %}
{% block style%} <link rel="stylesheet" href="{% static 'css/menu.css' %}"> {% endblock %}

<nav class="menu">
        <ul class="list-menu">
            <li><a href="#">Inicio</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Diseños</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Plantillas</a></li>
                    <li><a href="#">Caratulas</a></li>
                    <li><a href="#">Crayones</a></li>
                </ul>
            </li>
            <li><a href="#">Contacto</a></li>
        </ul>
</nav>

<script src="{% static 'js/menu.js' %}"> </script>