{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base_css/menu_int.css' %}">
{% endblock %}

<div class="index-data">
    <div class="index-data-box-1">
        <div class="index-data-box-1-title">
            <h2>UNA AMPLIA COLECCION DE DISEÑOS</h2>
        </div>
        <p>Forma parte de este pequeño equipo, crea tus diseños y súbelos a la página. Obtendrás pequeñas y grandes recompensas.</p>
    </div>
    <div class="index-data-box-2">
        <div class="index-data-box-2-dropdown"> 
            <section aria-label="Tab Navigation" class="index-data-box-2-dropdown-section">
                <div class="index-data-box-2-dropdown-section-content">
                    <div data-index="0" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Vocales</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="1" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Guarderia</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="2" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Abecedario</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="3" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Colores</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="4" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Numeros</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="5" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Animales</span>
                            </button>
                        </div>
                    </div>
                    <div data-index="6" class="index-data-box-2-dropdown-section-content-button">
                        <div class="index-data-box-2-dropdown-section-content-button-button1">
                            <button type="button" aria-selected="true" role="tab" class="index-data-box-2-dropdown-section-content-button-button1-1" tabindex="-1">
                                <span>Frutas</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="index-data-box-3"> 
        <div class="index-data-box-3-content-0">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>Hola</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                     
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-1">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>como estas</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-2">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>dime que estas bien</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-3">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>dime que estas mal</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-4">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>¿Eres hombre?</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-5">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>¿Eres mujer?</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>
        <div class="index-data-box-3-content-6">
            <div class="index-data-box-3-content-wrapper">
                <div class="index-data-box-3-content-wrapper-title">
                    <h2>¿Eres gay?</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Molestias hic saepe dolore maxime autem dolor? Animi consectetur 
                    illum nisi voluptates vel explicabo soluta iste odit quas, vero, harum, 
                    architecto impedit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Exercitationem cum vel aspernatur, iure dolor nostrum obcaecati repudiandae 
                    maxime voluptatibus consequatur culpa doloremque beatae pariatur quia 
                    quidem sapiente incidunt maiores ex?
                </p>
            </div>
            <a href="#" class="index-data-box-3-content-link">Contenidos de hasta mañana</a>
            <div class="index-data-box-3-content-section">
                <section>
                    <!-- Contenido adicional aquí -->
                </section>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/base_js/menu_int.js' %}"></script>
